<body>
    <div class="container mt-5">
        <h2 class="text-center">Change Password</h2>
        <form id="changePasswordForm"  class="w-50 mx-auto">
          <!-- Previous Password -->
          <div class="mb-3">
            <label for="previousPassword" class="form-label">Previous Password</label>
            <input type="password" class="form-control" id="previousPassword" name="previousPassword" [(ngModel)]="previousPassword" required>
            <div class="invalid-feedback">
              Please enter your previous password.
            </div>
          </div>
    
          <!-- New Password -->
          <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required >
          </div>
    
          <!-- Repeat New Password -->
          <div class="mb-3">
            <label for="repeatNewPassword" class="form-label">Repeat New Password</label>
            <input type="password" class="form-control" id="repeatNewPassword" name="repeatNewPassword" [(ngModel)]="reapeatNewPassword" (input)="checkPassword()"  required>
            <div *ngIf="error">
              Passwords must match.
            </div>
          </div>
    
          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary w-100">Change Password</button>
        </form>
      </div>
</body>