<div class="text-center">
    <div class="filter-options d-flex justify-content-between align-items-center">
      <div class="filter-option">
        <label for="priceSort">Sort by Price:</label>
        <select id="priceSort" class="form-select" [(ngModel)]="selectedPriceSort" (ngModelChange)="sortByPrice()">
          <option value="all">All</option>
          <option value="asc">Low to High</option>
          <option value="desc">High to Low</option>
        </select>
      </div>
  
      <div class="filter-option">
        <label for="categorySort">Sort by Category:</label>
        <select id="categorySort" class="form-select" [(ngModel)]="selectedCategory" (ngModelChange)="sortByCategory()">
          <option value="all">All</option>
          <option *ngFor="let cate of category" [value]="cate">{{cate}}</option>
        </select>
      </div>
  
      <div class="filter-option">
        <label for="brandSort">Sort by Product Type:</label>
        <select id="brandSort" class="form-select" [(ngModel)]="selectedProductType" (ngModelChange)="sortByProductType()">
          <option value="all">All</option>
          <option *ngFor="let producttype of productType" [value]="producttype">{{producttype}}</option>
        </select>
      </div>
  
      <!-- Clear All Filters Button -->
      <button class="btn btn-outline-danger mb-4" (click)="clearAllFilter()">Clear All Filters</button>
    </div>
  
    <!-- Display filtered products -->
    <app-product-card [productData]="filteredProducts"></app-product-card>
  </div>
  