<div class="d-flex flex-wrap justify-content-evenly mt-2">
    <!-- Loop through the productData and display the cards in rows -->  
    <div class="card product-card mb-3" style="width: 18rem;" *ngFor="let item of productData">
      <img [src]="item.image[0]" class="card-img-top custom-img-border" alt="..." style="width: 285px; height: 288px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">{{ item.productName }}</h5>
        <p class="card-text">{{ item.description }}</p>
        <p class="card-text"><strong>Price:</strong> Rs.{{ item.price }}</p>
        <a [routerLink]="['/product-details', item.productId]" class="btn btn-primary m-2">View Details</a>
        <button (click)="addToCart(item.productId)" class="btn btn-primary">Add to cart</button>
      </div>
    </div>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  