<section style="background-color: #eee;">
    <div class="container py-5">
      
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="/images/no_profile.jpg" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{userData.fullName}}</h5>
              <p class="text-muted mb-1">{{userData.username}}</p>
              <button class="btn btn-primary w-auto">Upload Profile</button>
            </div>
          </div>
          
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p *ngIf="!isEditing" class="text-muted mb-0">{{userData.fullName}}</p>
                  <input *ngIf="isEditing" [(ngModel)]="userData.fullName" class="form-control" />
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p *ngIf="!isEditing" class="text-muted mb-0">{{userData.email}}</p>
                  <input *ngIf="isEditing" [(ngModel)]="userData.email" class="form-control" />
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">User Name</p>
                </div>
                <div class="col-sm-9">
                  <p *ngIf="!isEditing" class="text-muted mb-0">{{userData.username}}</p>
                  <input *ngIf="isEditing" [(ngModel)]="userData.username" class="form-control" />
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p *ngIf="!isEditing" class="text-muted mb-0">{{userData.phoneNumber}}</p>
                  <input *ngIf="isEditing" [(ngModel)]="userData.phoneNumber" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <button *ngIf="!isEditing" class="btn btn-primary w-auto" (click)="toggleEdit()">Edit Profie</button>
        <button *ngIf="isEditing"  class="btn btn-primary w-auto" (click)="updateUser()">Update Profie</button>
      </div>
    </div>
  </section>