<div *ngIf="token==null">
    <app-not-login></app-not-login>
</div>
<section class="h-10 h-custom" *ngIf="token!=null">
    <div class="container py-5 h-15">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted">{{Quantity}} items</h6>
                    </div>
                    <div *ngFor="let item of productDetails; let i = index">
                        <hr class="my-4">
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                          [src]="item.image[0]"
                          class="img-fluid rounded-3" alt="Cotton T-shirt">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">{{item.productName}}</h6>
                        <h6 class="mb-0">{{item.productType}}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2" (click)="decreaseProduct(item)">
                          <i class="bi bi-dash"></i>
                        </button>
  
                        <input id="form1" min="0" name="quantity" [(ngModel)]="cartProduct.items[i].quantity" type="text"
                          class="form-control form-control-sm" />
  
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2" (click)="increaseProduct(item)">
                          <i class="bi bi-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">Rs.{{item.price}}</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <button (click)="delteItem(item)"><i class="bi bi-trash"></i></button>
                      </div>
                    </div>
                    <hr class="my-4">
                    </div>
                    
  
                    <div class="pt-5">
                      <h6 class="mb-0"><a href="#!" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-body-tertiary">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">
                    
                    <div *ngFor="let item of productDetails; let i = index">
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="text-uppercase">{{item.productName}} x {{cartProduct.items[i].quantity}}</h5>
                            <h5>{{item.price * cartProduct.items[i].quantity}}</h5>
                          </div>
                    </div>
                    
  
                    <h5 class="text-uppercase mb-3">Give code</h5>
  
                    <div class="mb-5">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea2">Enter your code</label>
                      </div>
                    </div>
  
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>{{cartProduct.price}}</h5>
                    </div>
  
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-block btn-lg"
                      data-mdb-ripple-color="dark" (click)="payment()">Checkout</button>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>