<div class="container my-4 border m-2">
    <div class="filter-options d-flex justify-content-between align-items-center">
        <div class="filter-option">
          <label for="priceSort">Sort by Payment Mode:</label>
          <select id="priceSort" class="form-select" [(ngModel)]="selectedPaymentMode" (ngModelChange)="sortByPaymentStatus()">
            <option value="all">All</option>
            <option value="ONLINE">Online</option>
            <option value="CASH_ON_DELIVERY">COD</option>
          </select>
        </div>
    
        <div class="filter-option">
          <label for="categorySort">Sort by Status:</label>
          <select id="categorySort" class="form-select" [(ngModel)]="selectedStatus" (ngModelChange)="sortByOrderStatus()">
            <option value="all">All</option>
            <option value="PENDING">PENDING</option>
            <option value="DISPATCHED">DISPATCHED</option>
            <option value="DELIVERED">DELIVERED</option>
          </select>
        </div>

        <div class="filter-option">
            <input 
              id="orderIdSearch" 
              type="text" 
              class="form-control" 
              [(ngModel)]="selectedOrderId" 
              (ngModelChange)="searchByOrderId()" 
              placeholder="Search by Order ID" />
          </div>
    
        
    
        <!-- Clear All Filters Button -->
        <button class="btn btn-outline-danger mb-4 mt-4" (click)="clearAllFilter()">Clear All Filters</button>
      </div>
    <div class="order-list">
      <div *ngFor="let order of filterOrderObj">
        <div class="row align-items-center order-row">
          <div class="col-auto">
            <!-- Order ID -->
            <h5>Order ID: {{ order.orderId }}</h5>
          </div>
  
          <div class="col">
            <p><strong>Booking Date:</strong> {{ order.date }}</p>
          </div>
          <div class="col">
            <p><strong>Amount Paid:</strong> Rs{{ order.amountPaid }}</p>
          </div>
          <div class="col">
            <p><strong>Payment Mode:</strong> {{ order.modeOfPayment }}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  